$mainColor: darken(#fff, 20%);
$headerColor: #fff;
$headingSectionColor: #fff;

$bgColor: #21232e;
$sectionBgColor: #3b3f50;
$buttonColor: #e3ac00;
$gradientColor: linear-gradient(to right, #e3ac00, #96324f); 
$keywordsColor: #ff4e33;
$headerBg: url(../img/m-h-night.jpg);

$mainFont: 'Fresca', sans-serif;
$headingFont: 'Source Sans Pro', sans-serif;